#details {
  display: grid;
  color: #cadbc0;
  border: 1px solid #b98b82;
  padding: 2px;
  margin: 0 auto;
}

#details-photo {
  width: 70vw;
  height: auto;
}
.rating {
  color: gold;
  cursor: pointer;
}
.rating:hover ~ .rating {
  color: #cadbc0;
  cursor: pointer;
}
.current-rating {
  color: gold;
}
