.containter {
  height: 80vh;
  display: flex;
  justify-content: center;
}
form {
  width: auto;
  align-content: center;
}
ul {
  list-style: none;
}

label {
  display: inline-block;

  clear: left;
  width: 250px;
  text-align: left;
}
input {
  display: inline-block;
}

#stars {
  color: gold;
}
/* bouncy animation found https://fdossena.com/?p=html5cool/buttons/i.frag */
.bouncy {
  animation: bouncy 4s infinite linear;
  position: relative;
}

.span-one {
  animation-delay: 1s;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
