.containter {
  height: 80vh;
  display: flex;
  justify-content: center;
}
form {
  width: auto;
  align-content: center;
}
ul {
  list-style: none;
}

label {
  display: inline-block;

  clear: left;
  width: 250px;
  text-align: left;
}
input {
  display: inline-block;
}

#stars {
  color: gold;
}
