.boulder-photo {
  border-radius: 10%;
  width: 60vw;
  height: auto;
}
.boulder-photo:hover {
  box-shadow: 0 0 11px rgb(122, 122, 122);
}
#boulder {
  margin: 10px;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #b98b82;
}
#boulder-text {
  font-size: 1vh;
  color: aliceblue;
}
@media only screen and (min-width: 600px) {
  #boulder-text {
    font-size: smaller;
  }
}
