#about-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
#about-container h2 {
  font-size: 7vw;
  align-self: center;
}
#about {
  align-self: center;
  max-width: 80vw;
  font-size: 6vh;
}
