#nav-links {
  list-style: none;
  font-size: inherit;
  text-decoration: none;
  border: ivory;
}
header {
  background-color: #f3b3a6;
  grid-column: 1/-1;
  border: olive;
  padding: 5px;
}
#nav-links a {
  color: #306b34;
  text-decoration: none;
}
