#nav-links {
  list-style: none;
  font-size: inherit;
  text-decoration: none;
  border: ivory;
  float: right;
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: #f3b3a6;
  padding: 5px;
  height: 20vh;
  flex-shrink: 0;
  flex-basis: 100%;
}
header h5 {
  text-align: center;
  float: left;
  font-size: 1.2em;
  color: #306b34;
}
#nav-links a {
  color: #cadbc0;
  text-decoration: none;
  padding: 5px;
}
