#details {
  display: grid;
  color: #cadbc0;
  border: 1px solid #b98b82;
  padding: 2px;
  margin: 0 auto;
}
#details-title {
}
#details-photo {
  width: 70vw;
  height: auto;
}
#details-quality {
  z-index: 1;
}
