#details {
  display: grid;
  color: #cadbc0;
  border: 1px solid #b98b82;
  padding: 2px;
  margin: 0 auto;
}

#details-photo {
  width: 70vw;
  height: auto;
}
/* .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  color: gold;
} */

.rating:hover {
  color: gold;
}
.current-rating {
  color: gold;
}
