#details {
  display: grid;
}
#details-title {
}
#details-photo {
  position: relative;
  grid-row: 2/4;
  grid-column: 1/2;
  width: 70vw;
  height: auto;
}
#details-quality {
  z-index: 1;
  grid-column: 3/4;
  grid-row: 3/4;
  position: sticky;
}
