body {
  background-color: #66101f;
  font-family: "Josefin Sans", sans-serif;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.App h2 {
  text-align: center;
}
